body {
    color: white;
    background-color: DarkSlateGray;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid Olive;
}

.center {
    text-align: center;
}

section{
    margin-left: 80px;
    display: inline-block;
}

.app img{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid Olive;
}

h1 {
    text-align: center;
    color: olive;
}

h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: olive;
}

main img {
    align-items: center;
    width: 150px;
    height: 150px;
}